# Always use absolute paths or starting with config directory

BACKUP_DIRECTORY=

# Remember to configure the following files to your needs
PASSWORD=config/backupsys_password.txt

EXCLUDE=config/backupsys_exclude.txt
